<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Welcome to your Duty List</title>

    <style>
        body { padding-bottom: 70px;}
    </style>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<form action ="#"

      th:action="@{/process}"
      th:object="${duty}"
      method="post">


    <input type="hidden" th:field="*{id}"/>

    Name : <input type="text" th:field="*{name}"/>
     <span th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}"></span><br/>

    Description of Duty : <input type="text" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br/>

    Date : <input type="date" name="date" th:field="*{date}"/>
    <span th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"></span><br/>

    Priority : <input type="radio" value="High" th:field="*{priority}"/>High
    <input type="radio" value="Medium" th:field="*{priority}"/>Medium
    <input type="radio" value="Low" th:field="*{priority}"/>Low

    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span><br/>

    Is it Completed : <input type="radio" value="Yes" th:field="*{complete}"/>Yes
    <input type="radio" value="No" th:field="*{complete}"/>No

    <span th:if="${#fields.hasErrors('complete')}"
          th:errors="*{complete}"></span><br/>


<input type="submit" value="Submit"/>


</form>
</body>
</html>